body {
  box-sizing: border-box;
  background-image: url("images/background.png");
  /* background-size: 1160px; */
}

h1 {
  /* position: fixed; */
  text-align: center;
  font-size: 35px;
}
h3 {
  font-size: 15px;
}
#ordered {
  font-size: 12px;
}

.buttons {
  text-align: left;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px;
}

#StartButton {
  border-radius: 30px;
  width: 100px;
  background-color: aquamarine;
}

#ResetButton {
  border-radius: 30px;
  width: 100px;
  background-color: aquamarine;
}

#timeDisplay {
  margin-left: 30px;
  margin-top: -70px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aliceblue;
}
.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
}
.instructions {
  margin-left: 60px;
}
.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  cursor: pointer;
  position: relative;
  user-select: none;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s;
}
.card .front-side img {
  width: 19px;
}
.card .back-side img {
  max-width: 60px;
}
.card .back-side {
  transform: rotateY(-180deg);
}
.card.flip .back-side {
  transform: rotateY(0);
}
.card.flip .front-side {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 768px) {
  .container {
    display: inline;
    /* grid-template-columns: 1fr 2fr; */
    align-items: center;
    /* justify-content: center; */
  }
  .cards {
    height: 350px;
    width: 350px;
  }
  .card .front-side img {
    width: 60px;
  }
  .card .back-side img {
    max-width: 50px;
  }

  .buttons {
    text-align: center;
    margin-top: 30px;
    position: relative;
    margin-bottom: 0px;
  }

  #StartButton {
    border-radius: 30px;
    width: 100px;
    background-color: aquamarine;
  }

  #ResetButton {
    border-radius: 30px;
    width: 100px;
    background-color: aquamarine;
  }
}

@media screen and (max-width: 530px) {
  .cards {
    height: 300px;
    width: 300px;
  }
  .card .front-side img {
    width: 15px;
  }
  .card .back-side img {
    max-width: 45px;
  }
}
