body {
  box-sizing: border-box;
  background-image: url("images/background.png");
  /* background-size: 1160px; */
}

h1 {
  /* position: fixed; */
  text-align: center;
  font-size: 35px;
}
h3 {
  font-size: 15px;
}
#ordered {
  font-size: 12px;
}

.flip-cards,
.card {
  cursor: pointer;
  flex: 50%;
}

.buttons {
  text-align: left;
  margin-top: 260px;
  position: relative;
  margin-bottom: 5px;
}

#StartButton {
    border-radius: 30px;
    width: 100px;
    background-color: aquamarine;
}

#ResetButton {
    border-radius: 30px;
    width: 100px;
    background-color: aquamarine;
}

#timeDisplay {
  margin-left: 30px;
  margin-top: -70px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aliceblue;
}

#pictures {
    height: 100px;
    width: 100px;
}

.card-container {
    display: flexbox;
    flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {


.flip-cards,
.card {
  cursor: pointer;
  flex: 50%;
  /* float: right; */
}

#pictures {
    height: 100px;
    width: 100px;
    /* float: right; */
}

.card-container {
    display: flexbox;
    flex-wrap: wrap;
    float: right;
    margin-right: 150px;
    margin-bottom: 150px;
}

.buttons {
    text-align: center;
    margin-top: 260px;
    position: relative;
    margin-bottom: 0px;
  }
  
  #StartButton {
      border-radius: 30px;
      width: 100px;
      background-color: aquamarine;
  }
  
  #ResetButton {
      border-radius: 30px;
      width: 100px;
      background-color: aquamarine;
  }
}